{% extends "layout.html" %}
{% block content %}
<form action="/contacts/{{ contact.id }}/edit" method="post">
	<fieldset class="flex flex-col gap-2 w-1/2">
		<legend class="text-lg">Edit Contact</legend>
		<label for="firstName">First name</label>
		<input class="rounded bg-slate-800" id="firstName" type="text" name="firstName" value="{{ contact.first_name }}">
		<label class="text-red-500" for="firstName">{{ contact.errors.first_name }}</label>
		<label for="lastName">Last name</label>
		<input class="rounded bg-slate-800" id="lastName" type="text" name="lastName" value="{{ contact.last_name }}">
		<label class="text-red-500" for="lastName">{{ contact.errors.last_name }}</label>
		<label for="email">Email</label>
		<input class="rounded bg-slate-800" id="email" type="email" name="email" value="{{ contact.email }}">
		<label class="text-red-500" for="email">{{ contact.errors.email }}</label>
		<label for="phone">Phone</label>
		<input class="rounded bg-slate-800" id="phone" type="tel" name="phone" value="{{ contact.phone }}">
		<label class="text-red-500" for="phone">{{ contact.errors.phone }}</label>
		<button class="rounded bg-slate-500 text-white hover:cursor-pointer">Save</button>
	</fieldset>
</form>
<button
	hx-delete="/contacts/{{ contact.id }}"
	hx-push-url="true"
	hx-target="body"
	class="mt-2 p-2 rounded bg-red-500 text-white hover:cursor-pointer">
	Delete
</button>
<a class="text-blue-500" href="/contacts">Back to contacts</a>
{% endblock %}
