<!DOCTYPE html>
<html lang="en">
	<head>
		<title></title>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<script src="https://cdn.tailwindcss.com"></script>
	</head>
	<body>
		<h1 class="text-lg">Contacts</h1>
		<form action="/contacts" method="get">
			<label for="search"></label>
			<input id="search" type="search" name="q" value="{{ request.args.get("q") }}">
			<input type="submit" value="Search">
		</form>
		<table>
			<tr>
				<th>First Name</th>
				<th>Last Name</th>
				<th>Email</th>
				<th>Phone</th>
			</tr>
			{% for contact in contacts %}
			<tr>
				<td>{{ contact.first_name }}</td>
				<td>{{ contact.last_name }}</td>
				<td>{{ contact.email }}</td>
				<td>{{ contact.phone }}</td>
			</tr>
			{% endfor %}
		</table>
	</body>
</html>
