<!DOCTYPE html>
<html lang="en">
	<head>
		<title></title>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<script src="https://cdn.tailwindcss.com"></script>
		<script src="/static/js/htmx.1.9.12.js"></script>
	</head>
	<body class="bg-black text-white m-10" hx-boost="true">
		{% with messages = get_flashed_messages() %}
			{% if messages %}
				<ul>
				{% for message in messages %}
					<li class="p-1 bg-green-600 rounded">{{ message }}</li>
				{% endfor %}
				</ul>
			{% endif %}
		{% endwith %}
		{% block content %}{% endblock %}
	</body>
</html>
